
body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: linear-gradient(to right, #edd3b5, #ff914d);
  color: #4a2e1f;
  padding: 60px 40px 80px;
  text-align: center;
  overflow: hidden;
}

/* efek brush di atas */
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url("brush-top.png") no-repeat center;
  background-size: cover;
}


footer {
  background: #eee;
  padding: 15px;
  text-align: center;
}

section {
  padding: 10px 10px;
  margin: 10px 0;
  border-top: 6px solid transparent;
  border-image: linear-gradient(to right, #edd3b5, #ff914d);
  border-image-slice: 1;
}

section:first-of-type {
  border-top: none;
  margin-top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: auto;
}

.logo.kiri {
  margin-left: 10px;
}

.logo.kanan {
  margin-right: 10px;
}

.judul {
  text-align: center;
  flex: 1;
}












