
body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: linear-gradient(135deg, #edd3b5, #ff914d);
  color: #4a2e1f;
  padding: 45px 40px 85px;
  text-align: center;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background: url("brush-top.png") no-repeat center top;
  background-size: cover;
  z-index: 1;
}


footer {
  background: #3e290e;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

section {
  padding: 20px 10px;
  margin: 20px 0;
  border-top: 4px dashed transparent;
  border-image: repeating-linear-gradient(
    to right,
    #edd3b5 0,
    #edd3b5 12px,
    transparent 12px,
    transparent 24px,
    #ff914d 24px,
    #ff914d 36px,
    transparent 36px,
    transparent 48px
  );
  border-image-slice: 1;
}


section:first-of-type {
  border-top: none;
  margin-top: 0;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #932525;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  width: 200px;
  height: auto;
  transform: translateY(-20px);
}


.logo.kiri {
  margin-left: 10px;
}

.logo.kanan {
  margin-right: 10px;
}

.judul {
  text-align: center;
  flex: 1;
}

.divider {
  border: none;
  height: 0;
  margin: 40px 0;
  border-top: 3px dotted #edd3b5;
}

.judul-img {
  max-width: 720px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.tagline {
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  color: #4a2e1f;
}








































