body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #2e8b57;
  color: white;
  padding: 30px;
  text-align: center;
}

footer {
  background: #eee;
  padding: 15px;
  text-align: center;
}

section {
  padding: 10px 10px;
  margin: 10px 0;
  border-top: 6px solid transparent;
  border-image: linear-gradient(to right, #27ae60, #f1c40f);
  border-image-slice: 1;
}







