
body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: linear-gradient(135deg, #edd3b5, #ff914d);
  color: #4a2e1f;
  padding: 70px 40px 110px;
  text-align: center;
  overflow: hidden;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  border-radius: 100% 100% 0 0;
}

footer {
  background: #eee;
  padding: 15px;
  text-align: center;
}

section {
  padding: 20px 10px;
  margin: 20px 0;
  border-top: 4px dashed transparent;
  border-image: repeating-linear-gradient(
    to right,
    #edd3b5 0,
    #edd3b5 12px,
    transparent 12px,
    transparent 24px,
    #ff914d 24px,
    #ff914d 36px,
    transparent 36px,
    transparent 48px
  );
  border-image-slice: 1;
}


section:first-of-type {
  border-top: none;
  margin-top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: auto;
}

.logo.kiri {
  margin-left: 10px;
}

.logo.kanan {
  margin-right: 10px;
}

.judul {
  text-align: center;
  flex: 1;
}

.divider {
  border: none;
  height: 0;
  margin: 40px 0;
  border-top: 3px dotted #edd3b5;
}






















