body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("Background.png");
  background-repeat: repeat;
  background-size: 1580px auto;
  opacity: 0.65;
  z-index: -1;
}


header {
  position: relative;
  background: linear-gradient(135deg, #edd3b5, #ff914d);
  color: #4a2e1f;
  padding: 20px 15px 40px;
  text-align: center;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11px;
  background: url("brush-top.png") no-repeat center top;
  background-size: cover;
  z-index: 1;
}


footer {
  background: #3e290e;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

section {
  padding: 20px 10px;
  margin: 20px auto; /* INI KUNCINYA */
  border-top: 4px dashed transparent;
  border-image: repeating-linear-gradient(
    to right,
    #edd3b5 0,
    #edd3b5 12px,
    transparent 12px,
    transparent 24px,
    #ff914d 24px,
    #ff914d 36px,
    transparent 36px,
    transparent 48px
  );
  border-image-slice: 1;
  max-width: 800px;
}

section:first-of-type {
  border-top: none;
  margin-top: 0;
}

section h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #932525;
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}

section p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 18px;
}

section ul {
  list-style-position: inside;
  padding: 0;
  font-size: 14px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.logo {
  width: 200px;
  height: auto;
  transform: translateY(-20px);
}


.logo.kiri {
  margin-left: 10px;
}

.logo.kanan {
  margin-right: 10px;
}

.judul {
  text-align: center;
  flex: 1;
}

.divider {
  border: none;
  height: 0;
  margin: 40px 0;
  border-top: 3px dotted #edd3b5;
}

.judul-img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.tagline {
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-size: 18px;
  color: #4a2e1f;
}

.produk-img {
  display: block;
  max-width: 220px;     /* atur ukuran */
  margin: 12px auto;    /* tengah + jarak */
  border-radius: 8px;
}



























