@font-face {
  font-family: 'Negrita Pro';
  src: url('fonts/NegritaPro-Regular.ttf') format('truetype');
}

body {
  font-family: 'Negrita Pro', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #edd3b5, #ff914d);
  color: #4a2e1f;
  padding: 40px;
  text-align: center;
}

footer {
  background: #eee;
  padding: 15px;
  text-align: center;
}

section {
  padding: 10px 10px;
  margin: 10px 0;
  border-top: 6px solid transparent;
  border-image: linear-gradient(to right, #27ae60, #f1c40f);
  border-image-slice: 1;
}

section:first-of-type {
  border-top: none;
  margin-top: 0;
}
